# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool. Ideally run
# `go test -coverprofile=coverage.out && go tool cover -html=coverage.out
#` to see it as a report.
coverage.*

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
